body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #333;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  background-color: #ffffff;
  padding: 20px;
  margin: 3rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.left-column, .right-column {
  flex: 1;
  margin: 0 20px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #444;
}

#video {
  border: 4px solid #007bff;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#gesture,
#gameResult,
#scoreDisplay {
  margin: 20px 0;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#startButton {
  padding: 12px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 20px auto;
}

#startButton:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
      width: 90%;
  }

  .left-column, .right-column {
      margin: 20px 0;
      width: 100%;
  }
}
